.header-font {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-size: 60px;
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.channel-nav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.channel-nav a {
	margin-left: 7px;
	text-decoration: none;
	font-size: 15px;
	color: #FFFFFF;
	display: block;
}

.active, .channel-nav a {
	background-color: #666;
	color: white;
}

.channel-title {
	color: #FFFFFF;
	margin-left: 5px;
}

.messages {
  border: 1px solid #e4e4e4;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 250px;
  background-color: #FFFFFF;
}
.messages {
  flex-shrink: 1;
  overflow: auto;
}
.message {
  padding: 5px 0;
}
.message .member {
  display: inline-block;
}
.message-form {
  display: flex;
  flex-shrink: 0;
}
.message-form__input {
  flex-grow: 1;
  border: 1px solid #dfdfdf;
  margin-left: 250px;
  padding: 10px 15px;
  font-size: 16px;
}
.message-form__button {
  margin: 10px;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}