{% extends "layout.html" %}

{% block body %}
<!-- Sidebar with list of channels -->
<div id="channels" class="channel-nav">
  <h2 class="channel-title">Channels</h1>
    {% for channel in channels -%}
      <a href="#">{{ channel }}</a><br>
    {%- endfor %}
</div>

<!-- Form for sending messages -->
  <div class="messages"></div>
  <form class="message-form" onsubmit="return false;">
    <input class="message-form__input" placeholder="Type a message.." type="text"/>
    <input class="message-form__button" value="Send" type="submit"/>
  </form>
{% endblock %}